* {
  /* border: 0.5px solid red; */
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column; /* align items vertically, in this case */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  z-index: 999; /* on top of everything */
}

.overlay h1 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 300px;
}

.overlay button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.game-container .board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.game-container .board-container .player-board,
.game-container .board-container .computer-board {
  background-color: #6cc4ff;
  grid-template-columns: repeat(10, 4.5vmin);
  grid-template-rows: repeat(10, 4.5vmin);
  margin: 2vmin;
  display: grid;
}

.game-container .board-container .computer-board div,
.game-container .board-container .player-board div {
  border: 0.2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.game-container .board-container .computer-board div .ship,
.game-container .board-container .player-board div .ship {
  background-color: gray;
}

.game-container .board-container .computer-board div.ship.hit,
.game-container .board-container .player-board div.ship.hit {
  background-color: red;
}

.game-container .board-container .computer-board div.miss,
.game-container .board-container .player-board div.miss {
  background-color: lightgray;
}


.game-container .board-container .computer-board div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
  background-color: #2c3e50;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.button-container button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.button-container #resetShipsButton {
  background-color: #e74c3c;
  color: #fff;
}

.button-container #startBtn {
  background-color: #27ae60;
  color: #fff;
}

.button-container #randomBtn {
  background-color: #2980b9;
  color: #fff;
}

.button-container #replayBtn {
  background-color: #27ae60;
  color: #fff;
  display: none;
}

.ships-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.ship {
  width: 40px;
  height: 40px;
  background-color: gray;
  border: 0.2px solid rgba(255, 255, 255, 0.3);
  margin: 2px;
  /* border-radius: 50px; */
  cursor: pointer;
}

.carrier.horizontal {
  width: 200px;
}

.carrier.vertical {
  height: 200px;
}

.battleship.horizontal {
  width: 160px;
}

.battleship.vertical {
  height: 160px;
}

.cruiser.horizontal {
  width: 120px;
}

.cruiser.vertical {
  height: 120px;
}

.submarine.horizontal {
  width: 120px;
}

.submarine.vertical {
  height: 120px;
}

.destroyer.horizontal {
  width: 80px;
}

.destroyer.vertical {
  height: 80px;
}
